---
import { Picture } from "astro-imagetools/components";
import Base from "../layouts/Base.astro";
import Breadcrumb from "../components/Breadcrumb.astro";
---

<Base title="À propos">
  <Breadcrumb
    crumbs={[
      {
        name: "À propos",
        path: "/a-propos",
      },
    ]}
  />

  <div class="rounded-md overflow-hidden mt-4">
    <Picture
      src={`/images/chaney-1.jpg`}
      alt="Image de couverture de la page à propos"
      sizes="(min-width: 1360px) 1248px, calc(94.23vw - 15px)"
      loading="lazy"
      placeholder="blurred"
      format={["webp", "jpeg"]}
      formatOptions={{
        jpg: {
          quality: 65,
        },
        webp: {
          quality: 35,
        },
      }}
      aspect={2}
    />
  </div>
  <p class="md:w-1/2 mx-auto mt-10">
    Vadrouille est une idée qui a germé dans ma tête suite à la naissance de ma
    fille; l'idée de partager les balades et randonnées que nous allions faire
    ensemble. <a
      href="https://yago.io"
      target="_blank"
      class="text-black font-normal hover:decoration-green-500 underline underline-offset-2"
      >Développeur web de profession et photographe de passion</a
    >, mais également amoureux de la Nature et du patrimoine histoirique, quel
    meilleur projet que celui-ci pour combler mes envies de partage.
  </p>

  <div class="mb-36"></div>
</Base>
