---
import Picture from "@/components/Picture.astro";
import Base from "../layouts/Base.astro";
import Breadcrumb from "../components/Breadcrumb.astro";
---

<Base title="Contact">
  <Breadcrumb
    crumbs={[
      {
        name: "Contact",
        path: "/contact",
      },
    ]}
  />

  <div class="rounded-md overflow-hidden mt-4">
    <Picture
      filename={`chaney-1.jpg`}
      alt="Image de couverture de la page contact"
      sizes="(min-width: 1360px) 1248px, calc(94.23vw - 15px)"
      loading="lazy"
      ratio={2}
    />
  </div>
  <p class="md:w-1/2 mx-auto my-10">
    Pour l'instant pas de réseaux sociaux, ni de chaines YouTube; la journée n'a
    que 24h. Par contre, pour toutes vos idées et remarques (gentilles de
    préférence) n'hésitez pas à me contacter à
    <a
      href="mailto:contact@vadrouille.ch"
      target="_blank"
      class="text-black font-normal hover:decoration-green-500 underline underline-offset-2"
      >contact@vadrouille.ch</a
    >
  </p>

  <div class="mb-36"></div>
</Base>
