---
import { getCollection } from "astro:content";
import Picture from "@/components/Picture.astro";
import { isAfter } from "date-fns";
import Base from "../layouts/Base.astro";
import TeaserLarge from "../components/TeaserLarge.astro";
import Teaser from "../components/Teaser.astro";
import Icon from "../components/Icon.astro";

const allBalades = await getCollection("balades");
const balades = allBalades.sort((a, b) =>
  isAfter(a.data.publishDate, b.data.publishDate) ? 1 : -1
);
---

<Base title="Accueil">
  <div class="rounded-md overflow-hidden mt-4 md:mt-10">
    <Picture
      filename={`chaney-1.jpg`}
      alt="Image de couverture de la page d'accueil"
      sizes="(min-width: 1360px) 1248px, calc(94.23vw - 15px)"
      loading="lazy"
      ratio={2}
    />
  </div>
  <p class="md:w-1/2 mx-auto my-10">
    <b>Bienvenue !</b> Vadrouille est un site suisse et indépendant, proposant des
    idées de balades, à faire seul ou en famille. Les balades sont classées par catégories,
    saisons, cantons et durées pour que chacun puisse y trouver son compte. En espérant
    que tu trouveras ton bonheur, bonne visite !
  </p>

  <h2 class="font-serif text-lg font-bold mt-12 md:mt-48">
    Les dernières balades
  </h2>
  <TeaserLarge item={balades[0]} />
  <div class="grid grid-cols-2 md:grid-cols-3 mt-6 gap-6">
    {balades.slice(1, 4).map((balade) => <Teaser item={balade} />)}
  </div>

  <a
    href="/balades"
    class="inline-flex justify-between items-center mt-20 py-2 px-4 text-sm rounded-md bg-beige-100 text-sm border-beige-200 border-2 hover:border-green-800 hover:bg-white focus:border-green-500 focus:ring-0 transition-colors"
  >
    <span>Toutes les balades</span>
    <Icon name="chevron-right" className="text-base ml-4 mt-1" />
  </a>

  <div class="mb-36"></div>
</Base>
