---
import { Picture } from "astro-imagetools/components";
import { isNotNil } from "ramda";

type Props = {
  src: string;
  alt?: string;
  caption?: string;
};

const { src, alt, caption }: Props = Astro.props;
---

<figure class="my-10">
  <div class="rounded-md overflow-hidden [&_img]:!m-0">
    <Picture
      src={src}
      alt={alt ?? ""}
      sizes="(min-width: 1024px) 1024px, 100vw"
      loading="lazy"
      placeholder="blurred"
      format={["webp", "jpeg"]}
      formatOptions={{
        jpg: {
          quality: 65,
        },
        webp: {
          quality: 35,
        },
      }}
    />
  </div>
  {isNotNil(caption) && <figcaption class="text-2xs">{caption}</figcaption>}
</figure>
