---
import Picture from "@/components/Picture.astro";
import { isNotNil } from "ramda";

type Props = {
  src: string;
  alt?: string;
  caption?: string;
};

const { src, alt, caption }: Props = Astro.props;
---

<figure class="my-10">
  <div class="rounded-md overflow-hidden [&_img]:!m-0">
    <Picture
      filename={src}
      alt={alt ?? ""}
      sizes="(min-width: 1360px) 790px, (min-width: 1040px) calc(53.33vw + 75px), calc(100vw - 32px)"
      loading="lazy"
    />
  </div>
  {isNotNil(caption) && <figcaption class="text-2xs">{caption}</figcaption>}
</figure>
