---
import "../styles/fonts.css";
import "../styles/utopia.css";

import Header from "../components/Header.astro";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>Vadrouille - {title}</title>
  </head>
  <body class="antialiased bg-beige-100 text-base text-green-800">
    <Header />
    <div class="max-w-7xl mx-auto p-4">
      <slot />
    </div>
  </body>
</html>
