---
import Header from "../components/Header.astro";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="antialiased bg-beige-100 text-green-800">
    <Header />
    <div class="max-w-screen-md mx-auto py-12">
      <slot />
      <!-- your content is injected here -->
    </div>
  </body>
</html>
