---
import "../styles/fonts.css";
import "../styles/utopia.css";
import "../styles/global.css";

import Icon from "../components/Icon.astro";
import Header from "../components/Header.astro";
const { title } = Astro.props;
const url = new URL(Astro.request.url);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>Vadrouille - {title}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#272e00" />
    <meta name="msapplication-TileColor" content="#fffade" />
    <meta name="theme-color" content="#fffade" />
    <meta
      name="description"
      content="Vadrouille est un site suisse et indépendant, proposant des
    idées de balades, à faire seul ou en famille."
    />
    <link rel="canonical" href={url} />
  </head>
  <body class="antialiased bg-beige-100 text-base text-green-800">
    <Header />
    <div class="max-w-7xl mx-auto p-4">
      <slot />
    </div>
    <footer class="max-w-7xl mx-auto text-center text-xs px-4">
      <div class="border-t-2 border-beige-200 pt-6 pb-10">
        ©{new Date().getFullYear()} — Tous droits réservés — Réalisé avec <Icon
          name="tree"
          className="text-sm"
        /> par <a
          href="https://yago.io"
          target="_blank"
          class="text-black font-normal underline hover:decoration-green-500 underline-offset-2"
          >Yago</a
        >
      </div>
    </footer>
  </body>
</html>
