---
import "mapbox-gl/dist/mapbox-gl.css";
import "./MapboxList.css";
---

<div
  id="map"
  class="h-[calc(95vh-300px)] rounded-md overflow-hidden grayscale brightness-110 mix-blend-multiply"
>
</div>

<script src="./MapboxList.ts"></script>
